<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.medicinetake">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".users_activities.ModifyUser"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />

        <activity
            android:name=".users_activities.MoreInfo"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".users_activities.ListMedications"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".users_activities.TakeMedicines"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".users_activities.ReminderList"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".users_activities.AlarmReminder"
            android:theme="@style/AppTheme.M.fragment" />
        <activity
            android:name=".users_activities.History"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".users_activities.AddMedicines"
            android:theme="@style/AppTheme.M.fragment" />
        <activity
            android:name=".my_fragment_work.MmFragment"
            android:theme="@style/AppTheme.M.fragment" />
        <activity
            android:name=".users_activities.CreateUser"
            android:theme="@style/AppTheme.M.fragment" />
        <activity
            android:name=".users_activities.UsersChoosing"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".broadcast.AlarmBroadcast" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>